# Project exclude paths
/.gradle/
/helloworld/build/
/helloworld/build/classes/java/main/
/mockito_001/build/
/mockito_001/build/classes/java/main/
/mockito_002/build/
/mockito_002/build/classes/java/test/